$white: #ffffff;
$white-two: #d8d8d8;
$white-three: #f7f7f7;
$violet: #bd0fe1;
$strong-blue: #2f00ff;
$reddish: #c83939;
$auburn: #a03700;
$reddish-grey: #9a8177;
$beige: #eaba9d;
$dark-blue: #10005b;
$coral: #ff583f;
$coral: rgba(255, 88, 63, 0.9);
$light-peach: #fbd3bb;
$pastel-red: #db6351;
$deep-orange-95: rgba(217, 56, 6, 0.95);
$purple-grey: #9b9b9b;
$logo-purple: #BB0C43;
$claret: #62060a;
$salmon: #f98367;