.editor-styles-wrapper {
	.footnote {
		display: block !important;
		font-style: inherit !important;
		text-align: center;
		font-size: 1.1rem !important;
		max-width: 90%;
		font-family: GrotexBETA;
		line-height: 1.29;
		letter-spacing: 0.5px;
		color: #62060a;
		margin: 15px auto;
	}
}
