.footnote {
	display: none !important;
	font-size: 1.4rem !important;
	@extend .image-caption;
	max-width: 90%;

	&.active {
		display: block !important;
		margin: 15px auto;
		text-align: center;
		&:after {
			content: '';
			display: block;
			width: 100%;
		}
	}
}
.footnote-trigger {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	border: 1px solid $coral;
	position: relative;
	top: -7px;
	margin-left: -2px;
	line-height: 16px;
	@extend .footnote-number;

	&:hover, &.active {
		background: $coral;
		color: $white;
	}
}
