nav.main a.no-style {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.flexer.no-cursor {
  pointer-events: none; }

.page-header-wrapper {
	background: white;
	padding: 40px;
	display: flex;
	align-items: center;
	position: relative;
	width: 100vw;
	.inner {
		margin: auto;
		max-width: 50%;
		align-self: center;
		@include tablet() {
			max-width: 100%;
		}
	}
	.page-title, .subhead {
		margin: auto;
		align-self: center
	}
	.subhead {
		max-width: 70%;
		@include phone() {
			max-width: 90%;
		}
	}
	.page-title {
		display: block;
  		margin-bottom: 18px;
	}


	// bottom
	&:after {
		@extend .borderWide;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.essay-hero.wrapper {
	max-width: 65vw;
	margin: 50px auto;
	@include phone() {
		max-width: 100%;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}

.essay-wrapper {
	padding-top: 30px;
	.page-title {
		margin: 25px auto;
		max-width: 40vw;
		@include tablet() {
			max-width: 90vw;
		}
	}
}

.essay-content {
	padding-bottom: 100px;
}


.page-template-page-about  {
	.header-page-title {
		display: none;
	}
	.page-header-wrapper {
		@include phone() {
			margin-bottom: 60px;
		}
// bottom
	&:after {
		@extend .borderWide;
		    left: 40%;
    width: 20%;
    bottom: 0;
	}
}}

	.essay-header{
		&:before {
	@include phone() {
			margin-top: 10px;
		}
	}
}

.fuller-bleed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .fuller-bleed .controls {
    position: fixed;
    width: 144px;
    height: 72px;
    bottom: 0;
    left: 0; }
    .fuller-bleed .controls .zoom-in, .fuller-bleed .controls .zoom-out {
      background-size: 81%;
      background-position: center;
      background-color: rgba(217, 56, 6, 0.95);
      display: inline-block;
      width: 72px;
      height: 72px;
      background-repeat: no-repeat;
      cursor: pointer;
      position: relative; }
      .fuller-bleed .controls .zoom-in svg, .fuller-bleed .controls .zoom-out svg {
        position: absolute;
        left: 10px; }
      .fuller-bleed .controls .zoom-in:hover svg *, .fuller-bleed .controls .zoom-out:hover svg * {
        stroke: #a03700; }
    .fuller-bleed .controls .zoom-in svg {
      width: 116px;
      height: 104px;
      left: -24px;
      top: -13px; }
    .fuller-bleed .controls .zoom-out svg {
      position: absolute;
      left: 11px;
      width: 50px;
      height: 60px;
      top: 6px; }
  .fuller-bleed .inner-img {
    background-size: contain;
    margin: auto;
    -ms-flex-item-align: center;
        align-self: center;
    width: 80vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center; }
  .fuller-bleed .panzoom-parent {
    margin: auto;
    width: 80vw;
    height: 80vh;
    overflow: visible !important; }
  .fuller-bleed .close-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 72px;
    background: transparent;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    background-color: rgba(217, 56, 6, 0.95); }
    .fuller-bleed .close-container .close-icon:hover svg * {
      stroke: #a03700; }
