.paragraph, body {
	// @extend .f-reg;

	// font-size: 3rem;
	// line-height: 4rem;

	// @include tablet() {
	// 	font-size: 3.2rem;
	// 	line-height: 4.2rem;
	// }

	 font-family: SelfModern-TextBeta;
  font-size: 2.3rem;
		line-height: 1.29;
  text-align: left;
  color: #62060a;

}
p a, .essay-content ul a, .essay-content ol a, .document-description a, .image-caption-ctr a {
  	color: $coral;
  	border-bottom: 1px dashed $coral;
  	font-family: GrotexBeta;
  	&:hover {
  		color: $claret;
  		border-color: $claret;
  	}
}

.document-description a {
  font-size: 2.1rem;
}

.lightbox-caption a, .grid-3 .grid-item .trans-bg .description a, .grid-2 .grid-item .trans-bg .description a, .grid-4 .grid-item .trans-bg .description a {
  color: #fbd3bb;
  border-bottom: 1px dashed rgba(255, 88, 63, 0.9);
  font-family: GrotexBeta; }
  .lightbox-caption a:hover, .grid-3 .grid-item .trans-bg .description a:hover, .grid-2 .grid-item .trans-bg .description a:hover, .grid-4 .grid-item .trans-bg .description a:hover {
    color: #62060a;
    border-color: #62060a;
}

.js-trigger {
  border-bottom: 0px !important; }
.js-trigger {
	border-bottom: 0px !important;
}
p strong {
	text-transform: uppercase;
	letter-spacing: 1.19px;
	font-size: 2rem;
}
p em {
	font-family: SelfModern-Italic;
}
.attr {
	top: -5px;
    position: relative;
    left: 40px;
    font-size: 1.9rem;
    span, em {
    	font-size: 1.9rem;
    }
    display: inline-block;
    margin-bottom: 30px;
    span {
    	display: inline-block;
    }
}
.attr + .footnote-trigger {
    top: -17px;
    margin-left: 40px;
}


@if $EXTENDBASE {
	p { @extend .paragraph; }
}
