.is-valid, .is-error {
	position: relative;
	display: block;
	&:after {
		content: " ";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 7px;
	}
}
.is-error {
	input {
		// border-bottom: 2px solid map-get(map-get($c-primary, 'peach'), 'hex') !important;
	}
	&:after {
		// background-color: map-get(map-get($c-primary, 'peach'), 'hex');
	}
}
.is-valid {
	&:after {
		// background-color: map-get(map-get($c-secondary, 'seafoam'), 'hex');
	}
}

.validator-message, span[role="alert"] {
	@extend .caption-smallest;
	// color: map-get(map-get($c-primary, 'peach'), 'hex');

	position: absolute;
	left: 0;
  bottom: -20px;
  overflow: hidden;
  height: 0px;

   transition: height 0.3s ease;

	&.is-active {
    height: 13px;
	}
}

span[role="alert"] {
	height: 13px;
}